# Byte-compiled / optimized / DLL files
__pycache__/

# VSCode 
.vscode/ 

# Credentials files
credentials.py

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.rbenv
.bundle/
vendor/

# OS files 
.DS_Store

# Jekyll
.jekyll-cache/
_site

#temp
_learnings/