<footer class="site-footer">
<div class="wrapper">
 
   <!--  <h2 class="footer-heading small-site-title">{{ site.title }}</h2> -->

<center>
<div class="footer-col-wrapper">
<div class="footer-col">
<ul class="contact-list">
    {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username %}</li>
    {% endif %}
    {% if site.linkedin_username %}
    <li>{% include icon-linkedin.html username=site.linkedin_username %}</li>
    {% endif %}
    <li><span class="icon"><a href="mailto:{{ site.email }}" ><img width="36" height="36" src="https://img.icons8.com/sf-black-filled/64/new-post.png" alt="new-post" style="opacity:75%;" title="email"/></a></span></li>
</ul>
</div>
</div>
<p> © 2024 Karie Moorman; All rights reserved.</p>
</center>
</div>
</footer>
