<footer class="site-footer">
<div class="wrapper">
 
   <!--  <h2 class="footer-heading small-site-title">{{ site.title }}</h2> -->

<center>
<div class="footer-col-wrapper">
<div class="footer-col">
<ul class="contact-list footer-content">
{% if site.github_username %}
<li>{% include icon-github.html username=site.github_username %}</li>
{% endif %}
<li>kmoorman AT ucmerced DOT edu</li>
</ul>
</div>


<div class="footer-col footer-col-2 footer-content">
<ul class="social-media-list">
{% if site.github_username %}
<li>{% include icon-github.html username=site.github_username %}</li>
{% endif %}
</ul>
</div>
</div>
<p> © 2023 Karie Moorman; All rights reserved.</p></center>
</div>
</footer>
