@charset "utf-8";


// Our variables
$base-font-family: "PT Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$smaller-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     30px;
// Width of the content area
$on-mid:           1000px;
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
