
/*  Import partials from `sass_dir` (defaults to `_sass`) */
@use "base";
@use "syntax-highlighting";
@use "color";



/* ***************************** */
/* ******** SITE HEADER ******** */
/* ***************************** */
.site-header {
    // border-top: 5px solid;
     border-bottom: 1px solid;
     min-height: 36px;
     // Positioning context for the mobile navigation icon
     position: relative;
     // background-color: $l-background-color;
    }
.site-title {
     font-size: clamp(45px, 5vw,60px);
     font-weight: 100;
     font-family: 'PT Sans';
     text-transform: capitalize;
     font-weight: 500;
     padding-top: 1em;
    }

#name {
  text-shadow:
    -1px -1px 0 rgb(71, 70, 70),
     1px -1px 0 rgb(71, 70, 70),
    -1px  1px 0 rgb(71, 70, 70),
     1px  1px 0 rgb(71, 70, 70),;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    // margin-top: 2rem;
    color: white !important;
}

.site-description {
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 6px;
    font-family: 'Josefin Sans';
    color: $l-grey-color-dark;
    }

.exclamationMark {
    padding-left: 2em;
    padding-right: 2em;
    @include media-query($on-palm) {
    padding-left: 1.2em;
    padding-right: 1.2em;
    }
}
.site-navigation {
    text-transform: uppercase;
    font-size: 14px;
    // letter-spacing: 2px;
    text-indent: 6px;
    font-family: 'Josefin Sans';
    font-weight: 300;
    padding-top: 2em;
    /*padding-left: 30%;*/
    text-align: center;
    }
.header-background {
    min-height:120px;
    width:100%;
    background:repeating-linear-gradient( -45deg,#eee, #fff 1px,#eee 1px);
    z-index: 2;
    }
.page-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-indent: 2px;
    font-family: "PT Sans";
    font-size: 12px;
    text-align:center;
    }
.page-description {
    letter-spacing: 2px;
    font-family: "PT Sans";
    text-transform: uppercase;
    text-align: center;
   }
.page-tagline {
    font-size: 18px;
    font-family: "Josefin Sans";
    text-align: center;
    text-transform: lowercase;
    font-size: 300;
   }
.site-nav {
    .page-link {
        line-height: $base-line-height;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
        margin-right: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: calc($spacing-unit / 2);
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
             > svg {
               width: 18px;
               height: 15px;
            }
        }
        .trigger {
             clear: both;
             display: none;
        }
       &:hover .trigger {
             display: block;
             padding-bottom: 5px;
        }
        .page-link {
             display: block;
             padding: 5px 10px;
             &:not(:last-child) {
               margin-right: 0;
            }
        margin-left: 20px;
       }
    }
}


/* ***************************** */
/* *********** HOME ************ */
/* ***************************** */

.main-container {
    display:flex;
    flex-direction: column;
    min-height: 45vh;
    position: relative;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: clamp(.5rem, 1vh, 1.5rem);
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.5rem, 1vh, 0.8rem);
}

.image-container {
    position: relative;
    margin: 0 2px;
}

.image-container img {
    display: block;
}

.person {
  content: url("/media/images/me.png");
    width: 230px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    background: rgba(253, 253, 253, 0.1);
    cursor: pointer;
    display: block;
}

@media (max-width: 1200px) {
    .person {
      width: 210px;
      height: 240px;
    }
}

@media (max-width: 800px) {
    .person {
        width: 150px;
        height: 180px;
        margin-top: 30px;
    }
}

@media (max-width: 300px) {
    .person {
        width: 130px;
        height: 160px;
        margin-top: -20px;
    }
    .site-title {
      padding-top: 0px;
    }
}

.overlay {
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translateX(-0%);
    width: 120%; 
    max-width: none; 
    height: auto;
    color: rgb(6, 6, 6);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 14px;
    box-sizing: border-box;
    white-space: normal; 
    overflow-wrap: break-word; 
    background: rgba(255, 254, 254, 0.6);
    border-radius: 30%;
    padding: 8px;
    display: block;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 0%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 35px 20px;
    border-color: rgba(255, 254, 254, 0.6) transparent transparent transparent;
    transform: translate(-100%, 20%);
}

.image-container.active .overlay {
    opacity: 1;
}



// .container-wrap {
//     width: 80%;
//     min-height: 200px;
//     margin: 0 auto;
//     background-color: #eeeeeedb; // #fbf7e8; /*rgba(172, 170, 170, 0.19);*/
//     border-radius: 35px 0 35px 0;
//     box-shadow: 1px 1px 15px 2px lightsteelblue; /* #f3e1e1bb; */
//     margin-top: 4rem;
//     display: block;
//     position: relative;
//     padding: 10px;
//   }
  
// .container-grid {
//     display: grid;
//     grid-template-areas: 
//     'one two two';
//     grid-template-columns: 1fr 2fr;
//     vertical-align: middle;

//     @include media-query($on-palm) {
//       grid-template-areas: 'one' 'two';
//       grid-template-columns: 1fr;
//     }
//   }
//   .c-item1 {grid-area: one;}
//   .c-item2 {grid-area: two;}
  
// .img-container {
//     display: inline-block;
//     position: relative;
//     height: 200px;
//     width: 170px;
//    /* float: left; */
//     //background-color: rgba(0, 128,128, .5) ;/* RGBA(0, 128, 128, .5); */
//     background-color: rgba(22,83,126, 0.5) ;/* RGBA(0, 128, 128, .5); */
//     padding: 7px;
//     border: .2px solid #e3d2d2; 
//     box-shadow: 1px 1px 15px 4px #e3d2d2;
//     border-radius: 35px;
//     margin: 5px;
//   }

// .img-contain {
//   @include media-query($on-palm) {
//     display:flex;
//     justify-content: center;
//     align-items: center;
//   //   // width: 90%;
//   //   // margin-left: -10p;
//   }
// }
// .img-inset-container {
//     background-color: rgba(68, 85, 136, .4) ;/*RGBA(68, 85, 136, .4);*/
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     box-shadow: 1px 1px 15px 10px rgba(207, 226, 251, 0.54); /*  #adbce6; #fbf7e8af */
//     border-radius: 32px;
//   }
// .bio-pic {
//     content: url("/media/images/10374024_10202843681506438_7314239834645129472_n.jpg");
//     width: 90%;
//     height: 90%;
//     margin: auto;
//     display: block;
//     box-shadow: 1px 1px 10px 2px  #adbce6;
//     border-radius: 25px;
//   }
// .text-container { 
//     //text-align: left;
//     //display: inline-block;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     position:relative;
//     padding: 7px 5px 0px 10px;
//     font-family: 'PT Sans';
//   }
//   .text-container p {
//     font-size: 16px;
//     @include media-query($on-laptop) {
//       font-size: 15px;
//     }
//     letter-spacing: .4px;
//     padding-bottom: 1px;
//     text-align: center;
//   }
// .text-container a {
//     text-transform: uppercase;
//   }
  
// .socials {
//   margin-top: 10px;
// }
// .socials ul {
//   list-style-type: none !important;
//   margin: 0;
//   padding: 0;
// }

// .socials ul li {
//   display: inline;
//   padding-right: 10px;
// }


/* ***************************** */
/* *********** ABOUT *********** */
/* ***************************** */
.manual-container {
    padding-top: $spacing-unit - 20px;
    padding-bottom: $spacing-unit - 20px;
  }
.manual-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: $base-font-weight;
    letter-spacing: 2px;
    padding: 5px 2px;
    }
.manual-subtitle {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: $base-font-weight;
    letter-spacing: 2px;
    padding: 5px 2px 10px 2px;
    }
.manual-grid {
    display: grid;
    grid-template-areas: 
    'one one two two'
    'three three four four'
    'five five six six'; 
    gap: calc(#{$spacing-unit} - 10px);
    /*grid-auto-rows: 1fr;*/
    @include media-query($on-palm) {
      grid-template-areas: 
      'one one' 
      'two two'
      'three three' 
      'four four'
      'five five' 
      'six six'; 
      grid-template-columns: 1fr;
    }
    }
.item1 {grid-area: one;}
.item2 {grid-area: two;}
.item3 {grid-area: three;}
.item4 {grid-area: four;}
.item5 {grid-area: five;}
.item6 {grid-area: six;} 

.manual-content {
    padding: 15px 10px;
    background-color: #eeeeeea3;  //  #eeeeeedb; // #fbf7e8; /*  #efefef; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    @include media-query($on-palm) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
.manual-content:hover {
  background-color: #eeeeeedb;
}
.manual-content.h-min {
    min-height: 200px;
    }
.manual-content p {
    font-size: clamp($small-font-size, 2.25vh, $base-font-size) !important;
    margin: 0px 2px 4px 2px;
    padding-right: 5px;
    text-align: left;
    }
.manual-content p.wide {
    letter-spacing: 1.2px;
    }
.manual-content img {
    float: left;
    margin-right: 10px; 
    //padding: 5px 2px 5px 2px;
    padding: 7px 2px 0px 2px; 
    position: relative;
    @include media-query($on-palm) {
      margin-bottom: 10px;
    }
    }
.img {
    max-width: 250px;
    min-width: 150px;
    height: auto;
    }

/* Project Images */
#framing {
    content: url("https://i.pinimg.com/736x/a6/a5/cc/a6a5cc35323fcfc8634765e96c2f00a8--mexican-american-political-news.jpg");
    height: 150px;
    width: 200px;
    padding-bottom: 5px;
    @include media-query(700px) {
      height: 160px;
      width: 240px;
      align-self: center;
    }
    }
#eeg {
    content: url('https://photos1.blogger.com/x/blogger/1782/2187/320/22148/N400-P600.jpg');
    height: 150px;
    width: 150px;
    }
#icsi {
    content: url('https://metaphor.icsi.berkeley.edu/pub/en/icsi_logo_135b.jpg');
    height: 150px;
    width: 140px;
}

#karuk {
  content: url('https://i.pinimg.com/originals/a5/a5/5d/a5a55dad2fad0d113cf2900b504c3c24.png');
  height: 150px;
  width: 150px;
}

#emotion {
  content: url('https://content.artofmanliness.com/uploads/2018/03/argue.jpg');
  height: 150px;
  width: 200px;
  @include media-query(700px) {
    height: 160px;
    width: 240px;
    align-self: center;
  }
}

#bias {
  content: url('https://scenechange.co.uk/wp-content/uploads/bfi_thumb/cognitive-bias-scene-change-36lv20npcnknboxxqv8ave.jpg');
  height: 150px;
  width: 220px;
  @include media-query(700px) {
    height: 160px;
    width: 240px;
    align-self: center;
  }
}

#ics2-cc {
  // content: url('media/images/certifications/cc.png');
  height: 80px;
  width: 80px;
}

#comptia-sec {
  // content: url('media/images/certifications/secplus.png');
  height: 85px;
  width: 85px;
}

.certcolumn {
  float: left;
}

/* Clear floats after image containers */
.certrow::after {
  content: "";
  clear: both;
  display: table;
}

/* ***************************** */
/* ******* BLOG ARCHIVE ******** */
/* ***************************** */
.archive-container {
    margin-top: 60px;
  }
  .archive-list {
    padding:  10px 7px 7px 7px;
    //background-color: rgba(160, 160, 160, 0.1);
    background-color: #eeeeee44; // rgba(238, 238, 238, 0.25);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0.5px solid lightgrey;
    //border-top: 0.5px solid $l-background-color; 
    border-top: none;
  }
  .archive-list:hover {
    //background-color: rgba(167, 167, 167, 0.2);
    //background-color: rgba(58, 66, 230, 0.25);
    background-color: rgba(55, 80, 144, 0.1);
    background-image: radial-gradient( rgba(222, 223, 224, 0.35) 10%, transparent 73%);
    background-size: 5px 5px;
  }
  .archive-intro {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-indent: 2px;
  }

/* ***************************** */
/* ***** EDUCATION ARCHIVE ***** */
/* ***************************** */
.edu-div {
  max-width: -webkit-calc(#{$content-width} * 1.25);
  max-width: calc(#{$content-width} * 1.25);
  margin: 60px auto 30px auto;
  @include media-query(1200px) {
    max-width: -webkit-calc(#{$content-width});
    max-width: calc(#{$content-width});
  }
  @include media-query($on-palm) {
    max-width: -webkit-calc(#{$content-width} * .5);
    max-width: calc(#{$content-width} * .5);
  }
}

.edu-archive-grid {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  box-sizing: border-box;
  @include media-query(1000px) {
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    margin: 20px;
  }
  @include media-query($on-palm) {
    grid-template-columns: 1fr;
    padding-left: 20px;
  }
}

.edu-archive-list {
  // padding:  10px 5px 10px 5px;
  background-color: rgba(148, 168, 196, 0.35);// rgba(238, 238, 238, 0.5); // rgba(235, 225, 206, 0.4);
  // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  // border: 0.5px solid $d-grey-color-light;
  // //border-top: 0.5px solid $l-background-color; 
  // border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
    padding:  10px 5px;
    // background-color: rgba(87, 87, 191, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;

}
.edu-archive-list:hover {
  // background-color: rgba(238, 227, 207, 0.687);// rgba(49, 14, 127, 0.27);
  // background-image: radial-gradient(circle, rgba(248, 222, 131, 0.2) 13%, transparent 30%), radial-gradient(circle, rgba(248, 222, 131, 0.2) 13%, transparent 30%);
  // background-size: 5px 5px;
  // background-position: 0 0, 7px 7px;
      background-color: rgba(87, 87, 191, 0.3);
    border-top: 1px solid #cacaca3e;
    border-left: 1px solid #cacaca61;
    border-right: 1px solid #8e8e8ebc;
    border-bottom: 1px solid #8e8e8ebc;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4),
                inset 0px -1px 1px rgba(255, 255, 255, 0.3);
    transform: scale(1.03);
    transition: box-shadow 0.2s ease;
    cursor: pointer;
  
}
.eduTitle { 
  //color: $l-text-color !important;
  color: white;
  font-weight: 400;
  font-size: clamp(18px, 2.25vw, 22px);
  // text-align: left;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  // display: block;
  // position: static;
  padding-left: 2px;
}
.eduSubtitle {
  //color: $l-text-color !important;
  color: white;
  font-weight: 300;
  font-size: 16px;
  // text-align: left;
  text-transform: uppercase;
  padding-bottom: 5px;
  // display: block;
  // position: static;
  padding-left: 2px;
  @include media-query($on-laptop) {
    font-size: 15px;
  }
}
.eduTag {
  //display: block;
  color: $l-text-color !important;
  position: static;
  font-weight: 400; 
  font-size: 15px; 
  text-align: center;
  padding-top: 5px;
  @include media-query($on-laptop) {
    font-size: 14px;
  }
}

.edu-archive-list img {
    max-width: 200px;
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-radius: 8px;
    flex-shrink: 0;
    padding: 5px 0;
    margin-top: 5px;
}

.project-description {
    flex: 1; 
    font-family: 'PT Sans', sans-serif;
    font-size: clamp(14px, 2vw, 16px);
    //color: $l-text-color !important;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 10px;
    text-align: justify;
    line-height: normal;
}

.carousel-container {
  text-align: center;
  background-color: rgb(75, 74, 74);
  padding: 5px;
  position: relative;
}
.carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: gray;
}
.carousel-images .image {
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.carousel-images .image img {
  width: 90px; /* Adjust image width as needed */
  height: 70px;
}
.carousel-images .image:hover {
  opacity: 1;
}
.carousel-main {
  position: relative;
  // width: 410px;
  // height: 410px;
}
.main-image {
  width: 400px; /* Adjust image width as needed */
  height: 60%;
  max-height: 400px;
  max-width: 80%;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  // object-fit: contain;
  cursor: pointer;
  
}
.image-title {
  text-align:center;
  font-size: 20px;
  margin-top: 5px;
  color: white;


}




/* ***************************** */
/* ******** BLOG POSTS ********* */
/* ***************************** */
.post-header {
    margin-top: $spacing-unit + 20px ;
    margin-bottom: $spacing-unit ;
  }
.post-title {
    margin: 1px;
    font-size: 48px;
    text-align: center;
    font-family: "Josefin Sans";
    font-weight: 700;
    @include media-query($on-laptop) {
      font-size: 40px;
    }
}
.post-subtitle {
    font-size: 26px;
    text-align: center;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 700;
    padding-bottom: 15px;
    @include media-query($on-laptop) {
      font-size: 20px;
    }
}
.post-author {
    letter-spacing: 3px !important; 
    text-transform: uppercase !important;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: calc(#{$spacing-unit} * 0.75);
    @include media-query($on-laptop) {
      font-size: 18px;
    }
}
.post-content {
    padding-bottom: 10px;
    p, li {
      font-size: 18px;
      @include media-query($on-laptop) {
        font-size: 16px;
      }
    }
    h2 {
      font-size: 24px;
      @include media-query($on-laptop) {
        font-size: 22px;
      }
    }
    h3 {
      font-size: 22px;
      font-weight: 600;
      @include media-query($on-laptop) {
        font-size: 20px;
      }
    }
    h4 {
      font-size: 18px;
      @include media-query($on-laptop) {
        font-size: 17px;
      }
    }
} 

#margin {
  margin-left: 8%;
  margin-right: 8%;
}

.post-content-container {
    width: 100%; 
    background-color: rgba(223, 226, 230, 0.88) ; // rgb(237, 241, 243) ; // rgb(227, 233, 242) ;// #f4efea; // #fdfcfb ; // #fdfdfd;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    }
.post-content-container {
    padding-bottom: 10px;
    p {
      font-size: 16px;
      @include media-query($on-laptop) {
        font-size: 15px;
      }
    }
    h2 {
      font-size: 24px;
      @include media-query($on-laptop) {
        font-size: 22px;
      }
    }
    h3 {
      padding-top: 15px;
      font-size: 22px;
      font-weight: 600;
      @include media-query($on-laptop) {
        font-size: 20px;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: 600;
      @include media-query($on-laptop) {
        font-size: 17px;
      }
    }
    ul li {
    font-size: 16px;
    @include media-query($on-laptop) {
      font-size: 15px;
    }
  }
}

.content-pad {
  padding-left: 5px;
  padding-right: 5px;
}

.post-content-container article {
    padding-top: 5px;
    padding-bottom: 10px;
    line-height: 1.5;
    margin-top: .25rem;
    margin-right: .25rem;
    text-align:justify;
}
.post-content-container article.drop-cap::first-letter {
    -webkit-initial-letter: 4;
            initial-letter: 4;
    color: orange;
    font-weight:bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; //Georgia, 'Times New Roman', Times, serif;
    margin-right: .5em;
    
  }

  .post-content-container article::first-letter {
    -webkit-initial-letter: 4 1;
            initial-letter: 4 1;
    color: orange;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  // Georgia, 'Times New Roman', Times, serif;
    margin-right: .5em;
  }

  .post-content-container .brand {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .post-content-container .tbl ul li {
    font-size: 18px;
    font-weight: 400;
    @include media-query($on-laptop) {
      font-size: 17px;
  }
  @include media-query($on-palm) {
    font-size: 15px;
}
  }

  .post-content-container .brand a {
    color: $l-brand-color !important;
    font-size: 21px;
    font-weight: 600;
    @include media-query($on-laptop) {
        font-size: 19.5px;
    }
}

.post-content-container #link a {
    color: $l-brand-color !important;
    font-size: 19px;
    font-weight: 500;
    @include media-query($on-laptop) {
        font-size: 17px;
    }
    @include media-query($on-palm) {
      font-size: 15.5px;
  }
}
.post-content-container #link a:hover {
    color: $l-brand-color !important;
    font-size: 19.5px;
    @include media-query($on-laptop) {
        font-size: 17.5px;
    }
}

.post-content-container div p a {
    color: $l-brand-color !important;
}
.post-content-container ul li a {
    color: $l-text-color !important;
}

.post-content-container ul li a:hover {
    font-weight: 500;
    font-size: 16.5px;
    color: $l-brand-color !important;
    @include media-query($on-laptop) {
      font-size: 16px;
  }
    @include media-query($on-palm) {
      font-size: 15.5px;
  }
}

.post-content-container table {
    width: 90%;
    //align-items: center;
    //justify-content: center;
}
.post-content-container table, th, td {
    border: 1px solid $l-grey-color;
    border-collapse: collapse;
    //padding: 5px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 1.25;
    @include media-query($on-laptop) {
        font-size: 14px;
    }
    @include media-query($on-palm) {
      font-size: 12px;
  }
  }

  .post-content-container table tr a {
    color: $l-text-color !important;
}

.post-content-container table tr a:hover {
    font-weight: 500;
    color: $l-brand-color !important;
}
.post-content-container th {background-color: #c2c2c2;}
.post-content-container tr:nth-child(even) {background-color: #f2f2f2;}
.post-content-container tr:nth-child(odd) {background-color: #fff;}
.post-content-container tr:hover {background-color: rgb(233, 240, 250);}


.post-container-grid-2 {
    display: grid;
    grid-template-areas: 
    'one two';
    grid-template-columns: 1fr 1fr;
    vertical-align: middle;
  }
  .p-item1 {grid-area: one;}
  .p-item2 {grid-area: two;}
  
#amzn-before {content: url('/media/images/amazon-exclude-before.png'); height: 300px; max-height: 500px; width: 80%;}
#amzn-after {content: url('/media/images/amazon-exclude-after.png'); height: 300px; max-height: 500px; width: 80%;}
#pnt-before {content: url('/media/images/pinterest-before.png'); height: 300px; max-height: 500px; width: 80%;}
#pnt-after {content: url('/media/images/pinterest-after.png'); height: 300px; max-height: 500px; width: 80%;}
#shortcut-hnq {content: url('/media/images/shortcut-hnq.png'); height: auto; width: 80%;}
#shortcut-hnq-crypto {content: url('/media/images/shortcut-hnq-crypto.png'); height: auto; width: 80%;}
#crypto-results {content: url('/media/images/crypto-results.png'); height: 220px; max-height: 300px; width: 80%;}

#whatsapp {content: url('https://static.whatsapp.net/rsrc.php/v3/y7/r/DSxOAUB0raA.png'); height: 38px; width: 130px; margin: 30px 0px 20px 130px;}
#fbmess {content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0Hwt69CKFe2E7IwmrNh-MYRc1BiTUYhfQYA&usqp=CAU'); height: 45px; width: 120px; margin: 10px 0px 20px 70px;}
#snapchat {content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEN5GlVfdMbFKqHIfoNPyTY312-AosnzJfEA&usqp=CAU'); height: 40px; width: 120px; margin: 10px 0px 10px 30px;}
#telegram {content: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRagh-hgmxKTreOeflDKzBLfIhQqWGvAdgxbw&usqp=CAU'); height: 60px; width: 120px; margin: 10px 0px 10px 70px;}
#imessage {content: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.NnBNOgtcZaNzLp_-rnbtjgAAAA%26pid%3DApi&f=1&ipt=bf105dcd1a14ee8d2d6542fd07662c8260fb3419525c153845e7749eb8a46836&ipo=images'); height: 60px; width: 110px;  margin: 0px 0px 20px 125px;}
#signal {content: url('https://nordicmonitor.com/wp-content/uploads/2021/07/signal_app_logo-scaled.jpg');}

#noaccent:hover {
  border-bottom: transparent !important;
}


.arrow {
  cursor: pointer;
  height: 120px;
  margin-left: 310px;
  position: absolute;
  margin-top: -190px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .1s;
  width: 100px;
  z-index: 2;
  
  &-top,
  &-bottom {
    background-color: #437dfa;
    opacity: .1;
    height: 5px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 99%;
    
    &:after {
      background-color: #fff;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
  
  &-top {
    transform: rotate(60deg);
    transform-origin: bottom right;
    border-radius: 20px 0px 20px 0px;
    
    &:after {
      left: 100%;
      right: 0;

    }
  }
  
  &-bottom {
    transform: rotate(-60deg);
    transform-origin: top right;
    border-radius: 0px 20px 0px 20px;
    
    &:after {
      left: 0;
      right: 100%;

    }
  }
}

.db-split-container {
  display: flex;
  flex-direction: row; /* Default direction, horizontal split */
  vertical-align: middle;
}

.db-text-container {
  flex: 60%; /* 60% of the available space */
  padding: 10px; /* Optional padding */
}

.db-text-container table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.db-text-container table td {
  margin: 0;
  padding: 5px;
}

.db-image-container {
  flex: 40%; /* 40% of the available space */
  padding: 10px; /* Optional padding */
  max-height: 100%;
  height: auto;
}

/* To make it vertical split on screens smaller than 500px */
@media (max-width: 500px) {
  .db-split-container {
    flex-direction: column;
  }

  .db-text-container, .db-image-container {
    flex: 100%; /* Full width on smaller screens */

  }
}


/* ***************************** */
/* ********* LEARNING ********** */
/* ***************************** */

  /* Center the list container */
  .centered-list {
    text-align: center;
  }

  /* Style the unordered list */
  .centered-list ul {
    list-style-type: disc; /* Set the bullet point style */
    display: inline-block; /* Make the list inline-block to center it */
    text-align: left; /* Align list items to the left within the centered container */
    padding-left: 0; /* Remove default padding */
  }

  /* Style list items */
  .centered-list li {
    margin: 0 0 2px 0; /* Add some spacing between list items */
  }




/* ***************************** */
/* ******** SITE FOOTER ******** */
/* ***************************** */
  .contact-list,
  .social-media-list {
    list-style-type: none !important;
    margin-left: 0;
    z-index: 99;
    margin-top: 10px;
  }

  .contact-list li {
    display: inline;
    padding-right: 10px;
  }

  .contact-list li:not(:last-child) {
    margin-bottom: 5px;
  }

  .footer-col {
    text-align: center;
    margin-bottom: calc($spacing-unit / 3);
    width: 100%;
  }

  .footer-section {
    // width: 100%;
    // border-top: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 0.5rem 0;
    justify-content: flex-end;
    min-height: 100px;
    border-top: 1px solid;
    position: sticky;
    width: 100%;
    height:auto;
    top: 100%;
    // display: block;
    padding: 20px 0;
    margin: 0 auto; 
  }

  .footer-text {
    text-align: center;
    font-size: clamp(10px, 2vw, 16px);
    margin: 0;
  }
