---
layout: page
---

<div style="margin-top: 60px;"></div>
<div class="edu-archive-grid">
{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == page.category %}
{% assign entry = true %}

<div class ="edu-archive-list">
    <a class="edu-post" href="{{site.url}}{{site.baseurl}}{{post.url}}">
<div>
<div class="postDate" style="color: #111 !important;">
<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
</div>
<br>

<div>
<span class="eduTitle">{{post.title}}</span>
{% if post.subtitle %}
<span class="eduSubtitle">{{post.subtitle}}</span>
{% endif %}
</div>

<!-- <div class="postExt">{{learning.excerpt | truncate: 100}}</div> -->

<div class = 'eduTag'>
    {% for tag in post.tags %}
    <span style="background-color:rgb(249, 251, 252, .5);"> &nbsp; #{{ tag }} &nbsp; </span> &nbsp;
    {%endfor%}
</div>


</div></a>
</div>
{% endif %}
{% endfor %}
{% endfor %}
</div>

{% if entry != true %}
{% if page.description %}
<div class="page-description"><h2>{{ page.description }}</h2></div>
{% endif %}
{% endif %}
<div style="margin-bottom: 30px;"></div>
