---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content-container">
<header class="post-header" style="padding-top:25px;">
<div class="post-title" itemprop="name headline"><a class="post-title-link"  href="{{page.url}}">{{ page.title }}</a></div>


<center>
  {% if page.subtitle %}
  <div class="post-subtitle"><span>{{ page.subtitle }}</span></div>
  {% endif %}

  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  {% if page.author %}
  <div class="post-author"><span>{{page.author}}</span></div>
  {% endif %}


<div style = 'display:inline-block; font-weight: 400; font-size: 15px;'>

{%if page.categories %}
  Tags:
{% for cat in page.categories %}
<span style="background-color:rgb(249, 251, 252, .5); ">
  &nbsp; #{{ cat }}  &nbsp;
</span> &nbsp;
{%endfor%}
{% endif %}
</div>
</center>
</header>

<hr style="background-color:lightgrey !important; height: 1.2px; ">

<div class="post-content" itemprop="articleBody">
<div style="padding: 15px 10px 12px 10px;">{{ content }}</div>
</div>
 <!--
<footer class="postNavigation">
  {% if page.previous.url %}
    <a class="postPrev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="postNext" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</footer>
-->
</div>

</article>
